In [1]:
import arviz as az
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pymc3 as pm
from theano import shared
import seaborn as sns
from scipy import stats
from scipy.optimize import curve_fit
import daft
from causalgraphicalmodels import CausalGraphicalModel
import logging

BASE_URL = "https://raw.githubusercontent.com/rmcelreath/rethinking/master/data"

def precis(trace, var_names=None):
    s = az.summary(trace, hdi_prob=0.89, round_to=2, var_names=var_names)
    return s[['mean', 'sd', 'hdi_5.5%','hdi_94.5%']]

def scale(series):
    """Standardize a pandas series"""
    return (series - series.mean()) / series.std()

%config Inline.figure_format = 'retina'
az.style.use('arviz-darkgrid')
np.random.seed(0)

In [2]:
from tqdm.notebook import tqdm
import statsmodels.formula.api as smf
from scipy import stats
import statsmodels.api as sm
from scipy.special import logsumexp
from patsy import dmatrix

# Chapter 10

Lecutre 11: https://www.youtube.com/watch?v=-4y4X8ELcEM&list=PLDcUM9US4XdNM4Edgs7weiyIguLSToZRI&index=11&ab_channel=RichardMcElreath

All Credits go to: https://github.com/pymc-devs/resources/blob/master/Rethinking_2/Chp_10.ipynb

## 10.1 Maximum Entropy

### Code 10.1

In [16]:
p = pd.DataFrame()
p = p.assign(A=(0,0,10,0,0), B=(0,1,8,1,0), C=(0,2,6,2,0), D=(1,2,4,2,1), E=(2,2,2,2,2))
p

    A  B  C  D  E
0   0  0  0  1  2
1   0  1  2  2  2
2  10  8  6  4  2
3   0  1  2  2  2
4   0  0  0  1  2

### Code 10.2

In [19]:
p_norm = p / p.sum()
p_norm

     A    B    C    D    E
0  0.0  0.0  0.0  0.1  0.2
1  0.0  0.1  0.2  0.2  0.2
2  1.0  0.8  0.6  0.4  0.2
3  0.0  0.1  0.2  0.2  0.2
4  0.0  0.0  0.0  0.1  0.2

### Code 10.3

In [30]:
vals = []
for col in p_norm.columns:
    vals.append(-sum([0 if q == 0 else q*np.log(q) for q in p_norm[col]]).round(7))
vals

[-0.0, 0.6390319, 0.9502705, 1.4708085, 1.6094379]

# Chapter 11

## Binomial Regression